button {
    box-shadow: rgb(133, 132, 132) 1px 1px 5px -1px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    transition: background-color .05s ease-in;
    text-shadow: 0px 0px rgba(245, 245, 245, 0);
    box-shadow: none;
    opacity: 1;
    display: inline-block;
    vertical-align: middle;
    border: 0;
    touch-action: manipulation;
    user-select: none;
    line-height: 1.42857143;
    position: relative;
    white-space: wrap;
    width: auto;

    .btnLabel {
        .iconPadding {
            padding-right: 6px;
        }
    }

    &.darkBtn {
        width: 100%;
        height: 24px;
        margin-bottom: 20px;
        white-space: nowrap;
        overflow: hidden;
    }

    &.sessionBtn {
        height: 20px;
        margin-left: 4px;
        white-space: nowrap;
        overflow: hidden;
        float: right;
    }

    &.settingBtn,
    &.topDarkBtn {
        margin-right: 20px;
        padding-top: 10px;
        padding: 6px 12px;
        top: 1px;
    }
};
