#main {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9998;
}
#bgImg {
    position: fixed;
    display: none;
    left: -5px;
    right: 0;
    z-index: 1;
    overflow-x: none;
    -webkit-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.45);
    background-blend-mode: soft-light;
    background-size: cover;

}
.tile-container {
    margin-right: auto;
    margin-left: auto;
}

.tile-child-container {
    padding-top: 2px;
    margin-left: 1%;
}

.tile-body {
    padding-left: 0px;
    padding-right: 0px;
}

.sort-bar {
    position: relative;
    margin-top: 3px;
    padding-left: 1%;
    padding-right: 1%
}

h4.sort-h4 {
    text-align: center;
    padding-top: 3px;
}

.session-col {
    overflow-wrap: normal;
}

.prefs-row {
    margin-top: 18px;
}

.ntg-form {
    padding-top: 14px;
    background-color: #ededed;
}
.ntg-title {
    font-size: 15px;
    font-weight: 500;
    text-shadow: 2px 2px #fff;
    position: relative;
    margin-top: 5px;
}
.ntg-title-container {
    padding: 0;
    width: 66.66666667%;
    float:left;
}
.ntg-tile-row-top {
    height: 60%;
}
.ntg-tile-row-bottom {
    height: 80%;
    position: relative;
    top: -48px;
}
.ntg-search-google-text {
    position: absolute;
    left: -212px;
    top: 7px;
    color: #CCC;
}
.ntg-favicon {
    width: 40px;
    position: relative;
    margin-top: 20px;
}
.ntg-favicon-blur {
    opacity: 0.3;
    -webkit-filter: blur(3px);
    width: 40px;
    position: relative;
}
.ntg-small-favicon {
    width: 15px;
}
.ntg-pinned {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 19px;
    opacity: 0.8;
    padding:1px;
}
.ntg-pinned-hover {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 19px;
    padding:1px;
}
.ntg-mute {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 36px;
    opacity: 0.8;
    padding:1px;
}
.ntg-mute-hover {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 36px;
    padding:1px;
}
.ntg-mute-audible {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 36px;
    padding:1px;
    color: #B67777;
}
.ntg-mute-audible-hover {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 36px;
    padding:1px;
    color: #B67777;
}
.ntg-x {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 1px;
    opacity: 0.8;
    padding:1px;
}
.ntg-x-hover {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 1px;
    padding:1px;
}
.ntg-move {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 2;
    top: 0;
    opacity: 0.8;
    padding:1px;
    cursor: move;
}
.ntg-move-hover {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 2;
    top: 0;
    padding:1px;
    cursor: move;
}
.ntg-tile {
    text-align: center;
    background-color: rgb(237, 237, 237);
    transition: background-color .05s ease-in;
    background-size: cover;
    margin: 3px;
    height: 120px;
    width: 200px;
    overflow-wrap: break-word;
    border-radius: 2px;
    float: left;
}
.ntg-tile-hover {
    text-align: center;
    background-color: rgb(247, 247, 247);
    transition: background-color .05s ease-in;
    background-size: cover;
    margin: 3px;
    height: 120px;
    width: 200px;
    overflow-wrap: break-word;
    border-radius: 2px;
    cursor: pointer;
    float: left;
}
.ntg-tile-moving {
    text-align: center;
    background-color: rgb(247, 247, 247);
    transition: background-color .05s ease-in;
    background-size: cover;
    margin: 3px;
    height: 120px;
    width: 200px;
    overflow-wrap: break-word;
    border-radius: 2px;
    cursor: move;
    float: left;
}
.ntg-tile-focus-hover {
    display: inline;
    background-color: rgb(247, 247, 247);
    transition: background-color .05s ease-in;
}
.ntg-session-pin {
    padding-left: 3px;
    opacity: 0.8;
}
.ntg-session-row {
    vertical-align: middle;
    border-radius: 3px;
    padding-top: 4px;
}
.ntg-session-text {
    font-size:14px;
    cursor: pointer;
}
.ntg-session-expanded {
    overflow-y: scroll;
    height: 200px;
    width: 215%;
    background-color: #ffffff;
    border-radius: 3px;
    margin-left:-2%;
}
.ntg-settings-pane {
    overflow: auto;
    height: 560px;
}
.ntg-cc {
    position: fixed;
    display: table;
    top: 800px;
    left: 48%;
}
.ntg-about {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: table;
}
.ntg-about-c {
    font-size: 12px;
    position: relative;
    display: table;
}
.ntg-context-menu {
    position: absolute;
    background-color: #FFFFFF;
    overflow: overlay;
    -webkit-overflow-scrolling: touch;
    border-radius: 3px;
    width: auto;
    height: auto;
    -webkit-box-shadow: 1px 1px 10px -2px rgba(0,0,0,0.75);
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 2px;
}
.ntg-context {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
button.ntg-btn {
    width: 100%;
    height: 32px;
    color: #000;
    background-color: #EDEDED;
    text-shadow: 2px 2px #FFF;
    margin-bottom: 20px;
    border: 0;
    vertical-align: middle;
    display: inline-block;
    padding: 6px 2px;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    border-radius: 4px;
    overflow: hidden;
    outline: none;
}
button.ntg-top-btn {
    position: relative;
    width: auto;
    color: #FFF;
    background-color: #A8A8A8;
    text-shadow: 1px 1px #000;
    margin-bottom: 20px;
    margin-right: 20px;
    border: 0;
    padding-right: 0;
    padding-left: 0;
    vertical-align: middle;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: wrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    border-radius: 4px;
    top: 1px;
    outline: none;
}
button.ntg-sort-btn {
    position: relative;
    width: auto;
    color: #FFF;
    background-color: #A8A8A8;
    text-shadow: 1px 1px #000;
    margin-bottom: 20px;
    margin-right: 20px;
    border: 0;
    padding-right: 0;
    padding-left: 0;
    vertical-align: middle;
    display: inline-block;
    padding: 6px 12px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: wrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    border-radius: 4px;
    top: 1px;
    outline: none;
}
button.ntg-update-avail-btn {
    position: relative;
    width: 195px;
    color: #FFF;
    background-color: #A8A8A8;
    text-shadow: 1px 1px #000;
    margin-bottom: 20px;
    margin-right: 20px;
    border: 0;
    padding-right: 0;
    padding-left: 0;
    vertical-align: middle;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: wrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    border-radius: 4px;
    top: 1px;
    outline: none;
}
button.ntg-update-btn {
    position: relative;
    width: auto;
    color: #FFF;
    background-color: #A8A8A8;
    text-shadow: 1px 1px #000;
    margin-bottom: 20px;
    margin-right: 20px;
    border: 0;
    padding-right: 0;
    padding-left: 0;
    vertical-align: middle;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: wrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    border-radius: 4px;
    top: 1px;
    outline: none;
}

button.ntg-ty-btn {
    position: relative;
    width: auto;
    color: #FFF;
    background-color: #A8A8A8;
    text-shadow: 1px 1px #000;
    margin-bottom: 20px;
    margin-right: 20px;
    border: 0;
    padding-right: 0;
    padding-left: 0;
    vertical-align: middle;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: wrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    border-radius: 4px;
    top: 1px;
    outline: none;
}

button.ntg-apply-btn {
    position: relative;
    width: 100%;
    height: 32px;
    color: #FFF;
    background-color: #A8A8A8;
    text-shadow: 1px 1px #000;
    margin-bottom: 20px;
    margin-right: 20px;
    border: 0;
    padding-right: 0;
    padding-left: 0;
    vertical-align: middle;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: wrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    border-radius: 4px;
    top: 1px;
    outline: none;
}
button.ntg-setting-btn {
    width: auto;
    height: 32px;
    color: #000;
    background-color: #EDEDED;
    text-shadow: 2px 2px #FFF;
    margin-bottom: 20px;
    margin-left: 5px;
    border: 0;
    vertical-align: middle;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    border-radius: 4px;
    overflow: hidden;
    position: fixed;
    top: 800px;
    outline: none;
}
button.ntg-impexp-btn {
    width: 150px;
    height: 32px;
    color: #000;
    background-color: #EDEDED;
    text-shadow: 2px 2px #FFF;
    margin-bottom: 20px;
    margin-left: 5px;
    border: 0;
    vertical-align: middle;
    display: inline-block;
    padding: 6px 2px;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    border-radius: 4px;
    overflow: hidden;
    position: fixed;
    top: 800px;
    outline: none;
}
button.ntg-session-btn {
    width: 40%;
    height: 26px;
    color: #000;
    background-color: #EDEDED;
    text-shadow: 2px 2px #FFF;
    margin-left: 4px;
    border: 0;
    vertical-align: middle;
    display: inline-block;
    padding: 3px 1px;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    border-radius: 4px;
    overflow: hidden;
    float: right;
    outline: none;
}

button.ntg-context-btn {
    width: 100%;
    height: 26px;
    color: #000;
    background-color: #EDEDED;
    text-shadow: 2px 2px #FFF;
    margin-bottom: 4px;
    border: 0;
    vertical-align: middle;
    display: inline-block;
    padding: 3px 1px;
    font-size: 13px;
    line-height: 1.42857143;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    border-radius: 4px;
    overflow: hidden;
    float: right;
    outline: none;
    padding-left: 8px;
}
button.ntg-context-btn-close-all {
    width: 100%;
    height: 26px;
    color: #000;
    background-color: #EDEDED;
    text-shadow: 2px 2px #FFF;
    margin-bottom: 4px;
    border: 0;
    vertical-align: middle;
    display: inline-block;
    padding: 3px 1px;
    font-size: 13px;
    line-height: 1.42857143;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    border-radius: 4px;
    overflow: hidden;
    float: right;
    outline: none;
    padding-left: 8px;
    padding-right: 8px;
}