.tile-container {
    position: absolute;
}

.tile-child-container {
    padding-top: 2px;
    margin-left: 1.5%;
}

.tile-body {
    padding-left: 0px;
    padding-right: 0px;
}

.sort-bar {
    position: relative;
    margin-top: 3px;
    padding-left: 1%;
    padding-right: 1%
}

h4.sort-h4 {
    text-align: center;
}

button.ntg-btn {
    width: 100%;
    color: #000;
    background-color: #EDEDED;
    text-shadow: 2px 2px #FFF;
    margin-bottom: 20px;
    border: 0;
    vertical-align: middle;
    display: inline-block;
    padding: 6px 2px;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    border-radius: 4px;
    overflow: hidden;
}

button.ntg-apply-btn {
    position: relative;
    width: 100%;
    color: #FFF;
    background-color: #A8A8A8;
    text-shadow: 1px 1px #000;
    margin-bottom: 20px;
    margin-right: 20px;
    border: 0;
    padding-right: 0;
    padding-left: 0;
    vertical-align: middle;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: wrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    border-radius: 4px;
    top: 1px;
}
