{
  "presets": ["env", "stage-0", "react"],
  "plugins": [
    "lodash",
    "transform-class-properties",
    "transform-es2015-classes",
    "add-module-exports",
    "dynamic-import-webpack"
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}