/node_modules
/dist
app/scripts/app.js
app/scripts/background.js
app/scripts/content.js
/jsconfig.json
/scripts/bundleReport.html
/app/scripts/main.css
/app/scripts/main.css.map
/app/scripts/app.js.map
/app/scripts/background.js.map
/app/scripts/content.js.map
/app/scripts/glyphicons-halflings-regular.eot
/app/scripts/glyphicons-halflings-regular.svg
/app/scripts/glyphicons-halflings-regular.ttf
/app/scripts/glyphicons-halflings-regular.woff
/app/scripts/glyphicons-halflings-regular.woff2
app/manifest.json
sources/
source_maps/
/app/scripts/main.worker.js
/app/scripts/main.worker.js.map
/yarn-error.log
/tm5k.code-workspace
.sentryclirc
releases
logs
tm5k-dist*